<%if task.is_project?%>
    <li 
      <% if @current_task == task%>
        class="activated"
      <% end %>
    >
      <%= link_to task.name, task%>
    </li>

<%else%>
<div class="task_link" > 
  <%= link_to raw("<i class=\"icon-check\"></i> "), complete_task_path(:task => task)%>
  <div class="pull-right">
    <%= task.date.to_time.strftime("%m/%d/%Y") %>
    <%= link_to raw("<i class=\"icon-wrench\"></i> "), '#'%>
    <%= link_to raw("<i class=\"icon-plus\"></i> "), new_task_path(:will_be_project => task)%>
  </div>
  <a href="#" data-show-content='<%= task.id%>'><%= task.name%></a>
</div>
  <div id='<%=task.id%>' class="task_content" style="display: none">
    <%  @current_user.tasks.each do |t|%>
      <% if t.projects.first == task%>
        <%= render t%>
      <%end%>
    <%end%>
    <%= task.content%>
    <br/>
  </div>

<%end%>
