<div class="task">
  <%= link_to raw("<i class=\"icon-check\"></i> "), complete_task_path( :task_id => task.id) %>
  <div class="pull-right">
  <%= task.date.to_time.strftime("%m/%d/%Y") unless task.date.nil?%>
  <%= link_to raw("<i class=\"icon-wrench\"></i> "), '#'%>
  <%= link_to raw("<i class=\"icon-plus\"></i> "), '#'%> 
  </div>

  <a href="#"
  <%= raw("style= \"color: #545454\"") if task.completed? %>><%= task.name%></a>

  <div class="task_content" style="display: none">
      <%= task.content%>
      <br/>
  </div>
</div>
