<%= link_to raw("<i class=\"icon-check\"></i> "), '#' %>
<div class="pull-right">
<%= task.date.to_time.strftime("%m/%d/%Y") %>
<%= link_to raw("<i class=\"icon-wrench\"></i> "), '#'%>
<%= link_to raw("<i class=\"icon-plus\"></i> "), '#'%> 
</div>

<a href="#"><%= task.name%></a>

<div class="task_content" style="display: none">
    <%= task.content%>
    <br/>
</div>

