<div class="span12 navbar navbar-inverse">
  <div class="navbar-inner">
  <div class="brand span3"><%= @current_user.name %></div>
    <ul class="nav pull-right">
      <li class="divider-vertical divider-inverse"></li>
      <li><%= link_to "callendar", '#'%></li>
      <li><%= link_to "habits", '#'%></li>
      <li><%= link_to "new project", new_task_path(:will_be_project => true)%></li>
      <% if !@current_task.nil?%>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= @current_task.name%>
          <b class="caret"></b>
        </a>
      <ul class="dropdown-menu">
        <%= link_to "delete", '#'%>
        <%= link_to "new task", new_task_path(:will_be_project => @current_task)%>
      </ul>
  </li>
      <%end%>
    </ul>
  </div>
</div>

<ul class="span2 nav nav-list">
  <li class="nav-header"><%= @current_user.tasks.count%> Zadania do wykonania</li>
      <%=# render @current_user.tasks.first %>
    <% @current_user.tasks.each do |task|%>
      <%=# render task unless task == @current_user.tasks.first || task.completed? || !task.is_project? || task.nil?%>
    <% end %>
    <li class="nav-header">Ukończone zadania:</li>
    <% @current_user.tasks.each do |task|%>
      <%=# render task unless task == @current_user.tasks.first ||  !task.completed? || !task.is_project? || task.nil?%>
    <% end %>
</ul>

