.btn-group.btn-inverse.project-manager
  .btn.btn-inverse.span6
    %a{ :class => "dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
      - if @current_task.nil? 
        wybierz projekt
      -else
        = @current_task.name
      %span{ :class => "caret"}  
    %ul{ :class => "dropdown-menu"}
      - @current_user.tasks.each do |task|
        = render(:partial => '/tasks/task', locals: {side: 'right_side', task: task}) unless task == @current_user.tasks.first || task.completed? || !task.is_project?
  - if !@current_task.nil? && @current_task.name != 'Daily'
    .btn.btn-inverse.span3
      = link_to "delete " + @current_task.name, @current_task, method: :delete, data:{ confirm: "are you sure you want to remove #{@current_task.name}"}   
    .btn.btn-inverse.span3
      = link_to "new task for " + @current_task.name, new_task_path(:will_be_project => @current_task)

<br/>
<br/>
