%div{:class => "navbar navbar-inverse project-manager"}
  .navbar-inner.row-fluid
    .nav.span7
      %li
        %a{ :class => "dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
          - if @project.nil? 
            wybierz projekt
          -else
            = @project.name
          %span{ :class => "caret"}  
        %ul{ :class => "dropdown-menu"}
          - @current_user.projects.each do |project|
            = render(:partial => '/projects/project', locals: {side: 'right_side', project: project})
          %li{ :class => "divider"}
          %li
            = link_to "nowy projekt", new_project_path, {:style => "font-weight: bold"} 
      - if !@project.nil?
        %li{ :class => "divider-vertical"}
        %li
          = link_to "delete " + @project.name, @project, method: :delete, data:{ confirm: "are you sure you want to remove #{@project.name}"}   
        %li{ :class => "divider-vertical"}
        %li
          = link_to "new task", new_project_task_path(@project)
    .nav.span5.quick-task
      -if !@project.nil?
        = form_for([@project, @project.tasks.build]) do |task|
          %li{ :class => "span8"}
            = task.text_field :name, {:value => "new task", :class => "text-field"}
          %li{ :class => "span3"}
            %button{ :class => "btn btn-primary", :onclick => "this.form.submit();", :name => "button", :type => "submit"}
              %i{ :class => "icon-plus icon-white"}
            %button{ :class => "btn btn-primary"}
              %i{ :class => "icon-tasks icon-white"}
/            %a{ :class => "btn btn-primary", :onclick => "<%= render new_project_task_path %>"}
/             %i{ :class => "icon-tasks icon-white"}
