<!DOCTYPE html>
%html
  %head
    %title= full_title(yield(:title)) 
    = stylesheet_link_tag    "application", media: "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  %body
    - flash.each do |key, value|
      %div{ :class => "alert alert-#{ key }"}= value 
    - if signed_in?
      = render 'layouts/navbar'
      .row-fluid
        .span4
          = render 'layouts/menu'
        .span8.main_window
          = render 'layouts/project_manager' unless params[:will_be_project]
          = yield
    - else
      = render 'layouts/header'
      = yield 
    - debug(params) if Rails.env.development?
    = render 'layouts/footer'
